USE [master]
GO
/****** Object:  Database [LampshadeTest]    Script Date: 3/31/2026 10:36:30 AM ******/
CREATE DATABASE [LampshadeTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Lampshade', FILENAME = N'F:\ProgramFiles\SqlServer\MSSQL17.MSSQLSERVER\MSSQL\DATA\LampshadeTest.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Lampshade_log', FILENAME = N'F:\ProgramFiles\SqlServer\MSSQL17.MSSQLSERVER\MSSQL\DATA\LampshadeTest.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LampshadeTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LampshadeTest]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/31/2026 10:36:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountPermissions]    Script Date: 3/31/2026 10:36:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountPermissions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [int] NOT NULL,
	[AccountId] [bigint] NOT NULL,
 CONSTRAINT [PK_AccountPermissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 3/31/2026 10:36:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](100) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Mobile] [nvarchar](20) NOT NULL,
	[RoleId] [bigint] NOT NULL,
	[ProfilePhoto] [nvarchar](1000) NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArticleCategories]    Script Date: 3/31/2026 10:36:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArticleCategories](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[Picture] [nvarchar](500) NOT NULL,
	[PictureAlt] [nvarchar](500) NOT NULL,
	[PictureTitle] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](2000) NOT NULL,
	[ShowOrder] [int] NOT NULL,
	[Slug] [nvarchar](600) NOT NULL,
	[Keywords] [nvarchar](100) NOT NULL,
	[MetaDescription] [nvarchar](150) NOT NULL,
	[CanonicalAddress] [nvarchar](1000) NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_ArticleCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Articles]    Script Date: 3/31/2026 10:36:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articles](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[ShortDescription] [nvarchar](1000) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Picture] [nvarchar](500) NOT NULL,
	[PictureAlt] [nvarchar](500) NOT NULL,
	[PictureTitle] [nvarchar](500) NOT NULL,
	[PublishDate] [datetime2](7) NOT NULL,
	[Slug] [nvarchar](600) NOT NULL,
	[Keywords] [nvarchar](100) NOT NULL,
	[MetaDescription] [nvarchar](150) NOT NULL,
	[CanonicalAddress] [nvarchar](1000) NOT NULL,
	[CategoryId] [bigint] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Articles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 3/31/2026 10:36:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductId] [bigint] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[UnitPrice] [float] NOT NULL,
	[Picture] [nvarchar](max) NOT NULL,
	[Count] [int] NOT NULL,
	[TotalItemPrice] [float] NOT NULL,
	[IsInStock] [bit] NOT NULL,
	[DiscountRate] [int] NOT NULL,
	[DiscountAmount] [float] NOT NULL,
	[ItemPayAmount] [float] NOT NULL,
	[CartId] [bigint] NOT NULL,
	[ProductSlug] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_CartItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 3/31/2026 10:36:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AccountId] [bigint] NOT NULL,
	[TotalAmount] [float] NOT NULL,
	[DiscountAmount] [float] NOT NULL,
	[PayAmount] [float] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[PaymentMethod] [int] NOT NULL,
 CONSTRAINT [PK_Carts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ColleagueDiscounts]    Script Date: 3/31/2026 10:36:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ColleagueDiscounts](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductId] [bigint] NOT NULL,
	[DiscountRate] [int] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_ColleagueDiscounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 3/31/2026 10:36:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[Email] [nvarchar](500) NOT NULL,
	[Website] [nvarchar](500) NULL,
	[Message] [nvarchar](1000) NOT NULL,
	[IsConfirmed] [bit] NOT NULL,
	[OwnerRecordId] [bigint] NOT NULL,
	[Type] [int] NOT NULL,
	[parentId] [bigint] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[Rating] [float] NOT NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerDiscount]    Script Date: 3/31/2026 10:36:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerDiscount](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductId] [bigint] NOT NULL,
	[DiscountRate] [int] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[Reason] [nvarchar](500) NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_CustomerDiscount] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventories]    Script Date: 3/31/2026 10:36:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventories](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductId] [bigint] NOT NULL,
	[UnitPrice] [float] NOT NULL,
	[InStock] [bit] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Inventories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryOperations]    Script Date: 3/31/2026 10:36:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryOperations](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Operation] [bit] NOT NULL,
	[Count] [bigint] NOT NULL,
	[OperatorId] [bigint] NOT NULL,
	[OperationDate] [datetime2](7) NOT NULL,
	[CurrentCount] [bigint] NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[OrderId] [bigint] NOT NULL,
	[InventoryId] [bigint] NOT NULL,
 CONSTRAINT [PK_InventoryOperations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 3/31/2026 10:36:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductId] [bigint] NOT NULL,
	[Count] [int] NOT NULL,
	[UnitPrice] [float] NOT NULL,
	[DiscountRate] [int] NOT NULL,
	[OrderId] [bigint] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_OrderItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 3/31/2026 10:36:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AccountId] [bigint] NOT NULL,
	[PaymentMethod] [int] NOT NULL,
	[TotalAmount] [float] NOT NULL,
	[DiscountAmount] [float] NOT NULL,
	[PayAmount] [float] NOT NULL,
	[IsPaid] [bit] NOT NULL,
	[IsCanceled] [bit] NOT NULL,
	[IssueTrackingNo] [nvarchar](8) NOT NULL,
	[RefId] [bigint] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 3/31/2026 10:36:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategories](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[Picture] [nvarchar](max) NOT NULL,
	[PictureAlt] [nvarchar](155) NOT NULL,
	[PictureTitle] [nvarchar](60) NOT NULL,
	[MetaDescription] [nvarchar](255) NOT NULL,
	[Keywords] [nvarchar](255) NOT NULL,
	[Slug] [nvarchar](max) NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_ProductCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductPictures]    Script Date: 3/31/2026 10:36:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductPictures](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductId] [bigint] NOT NULL,
	[Picture] [nvarchar](1000) NOT NULL,
	[PictureAlt] [nvarchar](500) NOT NULL,
	[PictureTitle] [nvarchar](500) NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_ProductPictures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 3/31/2026 10:36:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Code] [nvarchar](15) NOT NULL,
	[ShortDescription] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Picture] [nvarchar](max) NOT NULL,
	[PictureAlt] [nvarchar](155) NOT NULL,
	[PictureTitle] [nvarchar](60) NOT NULL,
	[MetaDescription] [nvarchar](255) NOT NULL,
	[Keywords] [nvarchar](255) NOT NULL,
	[Slug] [nvarchar](max) NOT NULL,
	[CategoryId] [bigint] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 3/31/2026 10:36:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [int] NOT NULL,
	[RoleId] [bigint] NOT NULL,
 CONSTRAINT [PK_RolePermissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 3/31/2026 10:36:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slides]    Script Date: 3/31/2026 10:36:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slides](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Picture] [nvarchar](1000) NOT NULL,
	[PictureAlt] [nvarchar](500) NOT NULL,
	[PictureTitle] [nvarchar](500) NOT NULL,
	[Heading] [nvarchar](255) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Text] [nvarchar](255) NOT NULL,
	[BtnText] [nvarchar](50) NOT NULL,
	[Link] [nvarchar](max) NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Slides] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260221164033_initDataBase', N'8.0.24')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260221174443_correctThePictureStringSize', N'8.0.24')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260222173735_initProductModel', N'8.0.24')
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([Id], [Fullname], [Username], [Password], [Mobile], [RoleId], [ProfilePhoto], [CreationDate], [IsDeleted]) VALUES (3, N'امیر حسین کریمی', N'Admin', N'10000.s88fR9Ov6Er3ZXaPAK3Bdw==.RxTs6FtlMlWrvUcF54599IWB4FFdjhaLhX9N15cOsO0=', N'09379384214', 1, N'ProfilePhoto/Admin//2026-03-14-01-04-19-profile photo.png', CAST(N'2026-03-13T12:41:19.8520712' AS DateTime2), 0)
INSERT [dbo].[Accounts] ([Id], [Fullname], [Username], [Password], [Mobile], [RoleId], [ProfilePhoto], [CreationDate], [IsDeleted]) VALUES (4, N'هادی فائزپور', N'manager1', N'10000.fWZsa+hcATUHeHE/HlEZrQ==.E+6QH3UPN9vdwNXxk9NGs/h0M6qaYqJqegPK7k+SsTM=', N'09379384215', 2, N'ProfilePhoto/manager1//2026-03-14-01-06-05-profile copy.jpg', CAST(N'2026-03-13T13:54:45.3334014' AS DateTime2), 0)
INSERT [dbo].[Accounts] ([Id], [Fullname], [Username], [Password], [Mobile], [RoleId], [ProfilePhoto], [CreationDate], [IsDeleted]) VALUES (5, N'عارف زرگر', N'user1', N'10000.rc0rafUYr+IPb4VY5X59VA==.q3wze77gS3FVemu/hnxaEP7c4HL5n48B//IVG0xlDsg=', N'09379384216', 5, N'ProfilePhoto/user1//2026-03-14-01-06-15-profile.jpg', CAST(N'2026-03-13T14:00:34.8474677' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[ArticleCategories] ON 

INSERT [dbo].[ArticleCategories] ([Id], [Name], [Picture], [PictureAlt], [PictureTitle], [Description], [ShowOrder], [Slug], [Keywords], [MetaDescription], [CanonicalAddress], [CreationDate], [IsDeleted]) VALUES (3, N'اخبار', N'اخبار//2026-03-11-14-26-04-ff716c1a-4338-3c0c-be09-f7cae7bbac75.jpg', N'خبر', N'اخبار روز', N'به روز ترین اخبار موجود در جهان', 1, N'اخبار', N'خبر , اخبار , روز', N'به روز ترین اخبه روز ترین اخبار موجود در جهانار موجود در جهان', N'45', CAST(N'2026-03-11T14:26:04.8067223' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[ArticleCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Articles] ON 

SET IDENTITY_INSERT [dbo].[Articles] OFF
GO
SET IDENTITY_INSERT [dbo].[CartItems] ON 

INSERT [dbo].[CartItems] ([Id], [ProductId], [Name], [UnitPrice], [Picture], [Count], [TotalItemPrice], [IsInStock], [DiscountRate], [DiscountAmount], [ItemPayAmount], [CartId], [ProductSlug]) VALUES (182, 13, N'صندلی چهارپایه مدل ۲۲۱', 950000, N'صندلی-چهارپایه-مدل//2026-02-27-00-22-23-Product09.jpg', 1, 950000, 1, 0, 0, 950000, 47, N'صندلی-چهارپایه-مدل-221')
INSERT [dbo].[CartItems] ([Id], [ProductId], [Name], [UnitPrice], [Picture], [Count], [TotalItemPrice], [IsInStock], [DiscountRate], [DiscountAmount], [ItemPayAmount], [CartId], [ProductSlug]) VALUES (183, 14, N'صندلی چهارپایه مدل ۳۳۲', 1935000, N'صندلی-چهارپایه-مدل//2026-02-27-00-23-19-Product10.jpg', 3, 5805000, 1, 0, 0, 5805000, 48, N'صندلی-چهارپایه-مدل-332')
INSERT [dbo].[CartItems] ([Id], [ProductId], [Name], [UnitPrice], [Picture], [Count], [TotalItemPrice], [IsInStock], [DiscountRate], [DiscountAmount], [ItemPayAmount], [CartId], [ProductSlug]) VALUES (184, 9, N'پاف مدل ۱۲۱', 750000, N'پاف-مدل۱۲۱//2026-02-27-00-15-06-product01.jpg', 1, 750000, 1, 0, 0, 750000, 48, N'پاف-مدل۱۲۱')
SET IDENTITY_INSERT [dbo].[CartItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Carts] ON 

INSERT [dbo].[Carts] ([Id], [AccountId], [TotalAmount], [DiscountAmount], [PayAmount], [CreationDate], [IsDeleted], [PaymentMethod]) VALUES (47, 5, 950000, 0, 950000, CAST(N'2026-03-18T20:55:45.4248053' AS DateTime2), 1, 1)
INSERT [dbo].[Carts] ([Id], [AccountId], [TotalAmount], [DiscountAmount], [PayAmount], [CreationDate], [IsDeleted], [PaymentMethod]) VALUES (48, 5, 5805000, 0, 5805000, CAST(N'2026-03-20T02:38:18.9522002' AS DateTime2), 1, 1)
INSERT [dbo].[Carts] ([Id], [AccountId], [TotalAmount], [DiscountAmount], [PayAmount], [CreationDate], [IsDeleted], [PaymentMethod]) VALUES (49, 6, 2300000, 0, 2300000, CAST(N'2026-03-20T02:48:03.3568071' AS DateTime2), 1, 1)
SET IDENTITY_INSERT [dbo].[Carts] OFF
GO
SET IDENTITY_INSERT [dbo].[ColleagueDiscounts] ON 

INSERT [dbo].[ColleagueDiscounts] ([Id], [ProductId], [DiscountRate], [CreationDate], [IsDeleted]) VALUES (2, 13, 5, CAST(N'2026-02-27T00:39:30.3295219' AS DateTime2), 0)
INSERT [dbo].[ColleagueDiscounts] ([Id], [ProductId], [DiscountRate], [CreationDate], [IsDeleted]) VALUES (3, 8, 8, CAST(N'2026-02-27T00:39:40.0923094' AS DateTime2), 0)
INSERT [dbo].[ColleagueDiscounts] ([Id], [ProductId], [DiscountRate], [CreationDate], [IsDeleted]) VALUES (4, 9, 9, CAST(N'2026-02-27T00:39:47.6765011' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[ColleagueDiscounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([Id], [Name], [Email], [Website], [Message], [IsConfirmed], [OwnerRecordId], [Type], [parentId], [CreationDate], [IsDeleted], [Rating]) VALUES (19, N'Admin', N'amirhkz1384@gmail.com', NULL, N'sdfsdfsdf', 1, 8, 1, 0, CAST(N'2026-03-17T18:23:44.1527169' AS DateTime2), 0, 5)
INSERT [dbo].[Comments] ([Id], [Name], [Email], [Website], [Message], [IsConfirmed], [OwnerRecordId], [Type], [parentId], [CreationDate], [IsDeleted], [Rating]) VALUES (20, N'Admin', N'dfgfdg', NULL, N'dfgdfg', 1, 13, 1, 0, CAST(N'2026-03-17T18:27:51.3292423' AS DateTime2), 0, 5)
INSERT [dbo].[Comments] ([Id], [Name], [Email], [Website], [Message], [IsConfirmed], [OwnerRecordId], [Type], [parentId], [CreationDate], [IsDeleted], [Rating]) VALUES (21, N'Admin', N'fsdfsdf', NULL, N'sdfsdfsdf', 1, 13, 1, 0, CAST(N'2026-03-17T20:33:09.9422664' AS DateTime2), 0, 4)
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerDiscount] ON 

INSERT [dbo].[CustomerDiscount] ([Id], [ProductId], [DiscountRate], [StartDate], [EndDate], [Reason], [CreationDate], [IsDeleted]) VALUES (5, 12, 10, CAST(N'2026-02-27T00:00:00.0000000' AS DateTime2), CAST(N'2026-03-20T00:00:00.0000000' AS DateTime2), N'تخفیف انبار تکانی', CAST(N'2026-02-27T00:37:18.5020993' AS DateTime2), 0)
INSERT [dbo].[CustomerDiscount] ([Id], [ProductId], [DiscountRate], [StartDate], [EndDate], [Reason], [CreationDate], [IsDeleted]) VALUES (6, 9, 12, CAST(N'2026-02-26T00:00:00.0000000' AS DateTime2), CAST(N'2026-03-12T00:00:00.0000000' AS DateTime2), N'تخفیف انبار تکانی', CAST(N'2026-02-27T00:37:40.7858477' AS DateTime2), 1)
INSERT [dbo].[CustomerDiscount] ([Id], [ProductId], [DiscountRate], [StartDate], [EndDate], [Reason], [CreationDate], [IsDeleted]) VALUES (7, 7, 19, CAST(N'2026-02-24T00:00:00.0000000' AS DateTime2), CAST(N'2026-03-02T00:00:00.0000000' AS DateTime2), N'تخفیف انبار تکانی', CAST(N'2026-02-27T00:37:58.1426134' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[CustomerDiscount] OFF
GO
SET IDENTITY_INSERT [dbo].[Inventories] ON 

INSERT [dbo].[Inventories] ([Id], [ProductId], [UnitPrice], [InStock], [CreationDate], [IsDeleted]) VALUES (5, 6, 1500000, 1, CAST(N'2026-02-27T00:31:20.9640659' AS DateTime2), 0)
INSERT [dbo].[Inventories] ([Id], [ProductId], [UnitPrice], [InStock], [CreationDate], [IsDeleted]) VALUES (6, 7, 2000000, 0, CAST(N'2026-02-27T00:31:31.4411325' AS DateTime2), 0)
INSERT [dbo].[Inventories] ([Id], [ProductId], [UnitPrice], [InStock], [CreationDate], [IsDeleted]) VALUES (7, 8, 1850000, 0, CAST(N'2026-02-27T00:31:48.1680158' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Inventories] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryOperations] ON 

INSERT [dbo].[InventoryOperations] ([Id], [Operation], [Count], [OperatorId], [OperationDate], [CurrentCount], [Description], [OrderId], [InventoryId]) VALUES (33, 1, 5, 3, CAST(N'2026-03-15T01:58:55.1917648' AS DateTime2), 5, N'xcvcbcvb', 1, 5)
INSERT [dbo].[InventoryOperations] ([Id], [Operation], [Count], [OperatorId], [OperationDate], [CurrentCount], [Description], [OrderId], [InventoryId]) VALUES (34, 1, 6, 3, CAST(N'2026-03-15T01:59:13.3745231' AS DateTime2), 6, N'dfgdfgdfg', 1, 8)
INSERT [dbo].[InventoryOperations] ([Id], [Operation], [Count], [OperatorId], [OperationDate], [CurrentCount], [Description], [OrderId], [InventoryId]) VALUES (35, 1, 7, 3, CAST(N'2026-03-15T01:59:20.1659562' AS DateTime2), 7, N'fvfbfgd', 1, 11)
GO
SET IDENTITY_INSERT [dbo].[InventoryOperations] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([Id], [ProductId], [Count], [UnitPrice], [DiscountRate], [OrderId], [CreationDate], [IsDeleted]) VALUES (93, 13, 1, 950000, 0, 79, CAST(N'2026-03-18T21:04:29.2371224' AS DateTime2), 0)
INSERT [dbo].[OrderItems] ([Id], [ProductId], [Count], [UnitPrice], [DiscountRate], [OrderId], [CreationDate], [IsDeleted]) VALUES (96, 14, 3, 1935000, 0, 81, CAST(N'2026-03-20T02:41:15.2226121' AS DateTime2), 0)
INSERT [dbo].[OrderItems] ([Id], [ProductId], [Count], [UnitPrice], [DiscountRate], [OrderId], [CreationDate], [IsDeleted]) VALUES (97, 9, 1, 750000, 0, 81, CAST(N'2026-03-20T02:41:15.2226127' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [AccountId], [PaymentMethod], [TotalAmount], [DiscountAmount], [PayAmount], [IsPaid], [IsCanceled], [IssueTrackingNo], [RefId], [CreationDate], [IsDeleted]) VALUES (77, 5, 1, 0, 0, 0, 0, 1, N'100', 0, CAST(N'2026-03-18T21:00:20.0696363' AS DateTime2), 0)
INSERT [dbo].[Orders] ([Id], [AccountId], [PaymentMethod], [TotalAmount], [DiscountAmount], [PayAmount], [IsPaid], [IsCanceled], [IssueTrackingNo], [RefId], [CreationDate], [IsDeleted]) VALUES (78, 5, 1, 0, 0, 0, 1, 0, N'SHCR824', 0, CAST(N'2026-03-18T21:02:01.7950774' AS DateTime2), 0)
INSERT [dbo].[Orders] ([Id], [AccountId], [PaymentMethod], [TotalAmount], [DiscountAmount], [PayAmount], [IsPaid], [IsCanceled], [IssueTrackingNo], [RefId], [CreationDate], [IsDeleted]) VALUES (79, 5, 1, 950000, 0, 950000, 1, 0, N'SSCJ189', 4803801, CAST(N'2026-03-18T21:04:29.2365234' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductCategories] ON 

INSERT [dbo].[ProductCategories] ([Id], [Title], [Description], [Picture], [PictureAlt], [PictureTitle], [MetaDescription], [Keywords], [Slug], [CreationDate], [IsDeleted]) VALUES (5, N'صندلی', N'صندلی', N'صندلی//2026-02-27-00-02-03-Product12.png', N'صندلی چهارپایه با طراحی مدرن ', N'صندلی', N'صندلی چهارپایه با طراحی مدرن ', N'صندلی مدرن', N'صندلی', CAST(N'2026-02-27T00:01:40.8698558' AS DateTime2), 0)
INSERT [dbo].[ProductCategories] ([Id], [Title], [Description], [Picture], [PictureAlt], [PictureTitle], [MetaDescription], [Keywords], [Slug], [CreationDate], [IsDeleted]) VALUES (6, N'نگهدارنده', N'نگهدارنده با طراحی مدرن در مدلهای مختلف', N'نگهدارنده//2026-02-27-00-04-22-Product06.jpg', N'نگهدارنده', N'نگهدارنده', N'نگهدارنده با طراحی مدرن در مدلهای مختلف', N'نگهدارنده مدرن', N'نگهدارنده', CAST(N'2026-02-27T00:04:22.0345411' AS DateTime2), 0)
INSERT [dbo].[ProductCategories] ([Id], [Title], [Description], [Picture], [PictureAlt], [PictureTitle], [MetaDescription], [Keywords], [Slug], [CreationDate], [IsDeleted]) VALUES (7, N'پاف', N'پاف با طراحی مدرن و ساخته شده ای پشم شیشه و پارچه مرغوب', N'پاف//2026-02-27-00-05-50-product03.jpg', N'پاف', N'پاف', N'پاف با طراحی مدرن و ساخته شده ای پشم شیشه و پارچه مرغوب', N'پاف مدرن مرغوب', N'پاف', CAST(N'2026-02-27T00:05:50.5186506' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[ProductCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductPictures] ON 

INSERT [dbo].[ProductPictures] ([Id], [ProductId], [Picture], [PictureAlt], [PictureTitle], [CreationDate], [IsDeleted]) VALUES (6, 6, N'نگهدارنده-چوبی-مدل//2026-02-27-00-10-43-Product07.jpg', N'صندلی از سمت چپ مدل ۱۱۱', N'صندلی مدل ۱۱۱', CAST(N'2026-02-27T00:12:19.6887573' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[ProductPictures] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[RolePermissions] ON 

INSERT [dbo].[RolePermissions] ([Id], [Code], [RoleId]) VALUES (879, 5100, 2)
INSERT [dbo].[RolePermissions] ([Id], [Code], [RoleId]) VALUES (880, 5000, 2)
INSERT [dbo].[RolePermissions] ([Id], [Code], [RoleId]) VALUES (881, 5104, 2)
GO
SET IDENTITY_INSERT [dbo].[RolePermissions] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name], [Description], [CreationDate], [IsDeleted]) VALUES (1, N'مدیر سیستم', N'مدیر سیستم با دسترسی کامل به تمام بخش ها', CAST(N'2026-03-13T12:24:58.0000000' AS DateTime2), 0)
INSERT [dbo].[Roles] ([Id], [Name], [Description], [CreationDate], [IsDeleted]) VALUES (2, N'محتواگذار', N'توانایی  اضاقه کردن مقاله بدون دسترسی به بخش های مهم و حیاتی سایت', CAST(N'2026-03-13T13:52:27.4935750' AS DateTime2), 0)
INSERT [dbo].[Roles] ([Id], [Name], [Description], [CreationDate], [IsDeleted]) VALUES (3, N'کاربر', N'یوزر عادی سایت بدون هیج دسترسی', CAST(N'2026-03-13T14:01:22.0622631' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Slides] ON 

INSERT [dbo].[Slides] ([Id], [Picture], [PictureAlt], [PictureTitle], [Heading], [Title], [Text], [BtnText], [Link], [CreationDate], [IsDeleted]) VALUES (4, N'slides//2026-02-27-00-26-39-2020-08-10-17-23-52-slider2.jpg', N'صندلی و مبل', N'صندلی و مبل', N'تجربه راحتی', N'صندلی و مبل راحتی', N'خرید', N'خرید', N'https://localhost:7199/ProductCategory/%D8%B5%D9%86%D8%AF%D9%84%DB%8C', CAST(N'2026-02-27T00:26:39.1560761' AS DateTime2), 0)
INSERT [dbo].[Slides] ([Id], [Picture], [PictureAlt], [PictureTitle], [Heading], [Title], [Text], [BtnText], [Link], [CreationDate], [IsDeleted]) VALUES (5, N'slides//2026-02-27-00-29-29-slider3.jpg', N'وسایل تزئینی', N'وسایل تزئینی', N'تجربه زیبایی', N'زیبایی را به خانه تان بیاورید ', N'خرید', N'خرید', N'https://localhost:7199/ProductCategory/%D9%86%DA%AF%D9%87%D8%AF%D8%A7%D8%B1%D9%86%D8%AF%D9%87', CAST(N'2026-02-27T00:29:29.2484334' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Slides] OFF
GO
/****** Object:  Index [IX_AccountPermissions_AccountId]    Script Date: 3/31/2026 10:36:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_AccountPermissions_AccountId] ON [dbo].[AccountPermissions]
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Accounts_RoleId]    Script Date: 3/31/2026 10:36:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Accounts_RoleId] ON [dbo].[Accounts]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Articles_CategoryId]    Script Date: 3/31/2026 10:36:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Articles_CategoryId] ON [dbo].[Articles]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CartItems_CartId]    Script Date: 3/31/2026 10:36:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_CartItems_CartId] ON [dbo].[CartItems]
(
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comments_parentId]    Script Date: 3/31/2026 10:36:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Comments_parentId] ON [dbo].[Comments]
(
	[parentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_InventoryOperations_InventoryId]    Script Date: 3/31/2026 10:36:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_InventoryOperations_InventoryId] ON [dbo].[InventoryOperations]
(
	[InventoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItems_OrderId]    Script Date: 3/31/2026 10:36:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_OrderItems_OrderId] ON [dbo].[OrderItems]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductPictures_ProductId]    Script Date: 3/31/2026 10:36:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProductPictures_ProductId] ON [dbo].[ProductPictures]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_CategoryId]    Script Date: 3/31/2026 10:36:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_Products_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RolePermissions_RoleId]    Script Date: 3/31/2026 10:36:30 AM ******/
CREATE NONCLUSTERED INDEX [IX_RolePermissions_RoleId] ON [dbo].[RolePermissions]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CartItems] ADD  DEFAULT (N'') FOR [ProductSlug]
GO
ALTER TABLE [dbo].[Carts] ADD  DEFAULT ((0)) FOR [PaymentMethod]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [Rating]
GO
ALTER TABLE [dbo].[AccountPermissions]  WITH CHECK ADD  CONSTRAINT [FK_AccountPermissions_Accounts_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AccountPermissions] CHECK CONSTRAINT [FK_AccountPermissions_Accounts_AccountId]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Roles_RoleId]
GO
ALTER TABLE [dbo].[Articles]  WITH CHECK ADD  CONSTRAINT [FK_Articles_ArticleCategories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[ArticleCategories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Articles] CHECK CONSTRAINT [FK_Articles_ArticleCategories_CategoryId]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Carts_CartId] FOREIGN KEY([CartId])
REFERENCES [dbo].[Carts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Carts_CartId]
GO
ALTER TABLE [dbo].[Comments]  WITH NOCHECK ADD  CONSTRAINT [FK_Comments_Comments_parentId] FOREIGN KEY([parentId])
REFERENCES [dbo].[Comments] ([Id])
GO
ALTER TABLE [dbo].[Comments] NOCHECK CONSTRAINT [FK_Comments_Comments_parentId]
GO
ALTER TABLE [dbo].[InventoryOperations]  WITH CHECK ADD  CONSTRAINT [FK_InventoryOperations_Inventories_InventoryId] FOREIGN KEY([InventoryId])
REFERENCES [dbo].[Inventories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InventoryOperations] CHECK CONSTRAINT [FK_InventoryOperations_Inventories_InventoryId]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders_OrderId]
GO
ALTER TABLE [dbo].[ProductPictures]  WITH CHECK ADD  CONSTRAINT [FK_ProductPictures_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductPictures] CHECK CONSTRAINT [FK_ProductPictures_Products_ProductId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductCategories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[ProductCategories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductCategories_CategoryId]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_Roles_RoleId]
GO
USE [master]
GO
